@font-face {
  font-family: ro-stel-font;
  src: url('/fonts/FUTURAL.TTF');
}
@font-face {
  font-family: code-pro;
  src: url('/fonts/OfficeCodePro-Regular.ttf');
}
@font-face {
  font-family: menlo-linux;
  src: url('/fonts/Menlo-Regular.tff');
}
@font-face {
  font-family: monaco-linux;
  src: url('/fonts/Monaco-Linux.tff');
}
.thumbnail > img,
.thumbnail a > img,
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  display: block;
  max-width: 100%;
  height: auto;
}
.btn-group-lg > .btn {
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 6px;
}
.btn-group-sm > .btn {
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}
.btn-group-xs > .btn {
  padding: 1px 5px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}
.container:before,
.container:after,
.container-fluid:before,
.container-fluid:after,
.row:before,
.row:after,
.form-horizontal .form-group:before,
.form-horizontal .form-group:after,
.btn-toolbar:before,
.btn-toolbar:after,
.btn-group-vertical > .btn-group:before,
.btn-group-vertical > .btn-group:after,
.nav:before,
.nav:after,
.navbar:before,
.navbar:after,
.navbar-header:before,
.navbar-header:after,
.navbar-collapse:before,
.navbar-collapse:after,
.pager:before,
.pager:after,
.panel-body:before,
.panel-body:after,
.modal-footer:before,
.modal-footer:after {
  content: " ";
  display: table;
}
.container:after,
.container-fluid:after,
.row:after,
.form-horizontal .form-group:after,
.btn-toolbar:after,
.btn-group-vertical > .btn-group:after,
.nav:after,
.navbar:after,
.navbar-header:after,
.navbar-collapse:after,
.pager:after,
.panel-body:after,
.modal-footer:after {
  clear: both;
}
body {
  background-color: #101112;
}
@media (max-width: 767px) {
  .stel-img {
    margin-top: 30px;
    border-radius: 20px;
    height: 200px;
    width: 150px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .view-animate-container {
    position: relative;
    height: 1000px!important;
    border: 1px solid white;
    height: 1000px;
    overflow: hidden;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .stel-img {
    margin-top: 30px;
    border-radius: 20px;
    height: 200px;
    width: 150px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .view-animate-container {
    position: relative;
    height: 1000px!important;
    border: 1px solid white;
    height: 1000px;
    overflow: hidden;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .stel-img {
    margin-top: 30px;
    border-radius: 20px;
    height: 200px;
    width: 150px;
    float: right;
  }
  .view-animate-container {
    position: relative;
    height: 600px!important;
    border: 1px solid white;
    height: 600px;
    overflow: hidden;
  }
}
@media (min-width: 1200px) {
  .stel-img {
    margin-top: 30px;
    border-radius: 20px;
    height: 200px;
    width: 150px;
    float: right;
  }
  .view-animate-container {
    position: relative;
    height: 600px!important;
    border: 1px solid white;
    height: 600px;
    overflow: hidden;
  }
}
.stel-title {
  color: #fff;
  text-align: center;
  font-family: ro-stel-font;
  font-size: 74px;
  padding-top: 80px;
}
.stel-about-text-en {
  font-family: code-pro;
  color: #555555;
  font-size: 17px;
  font-weight: bold;
}
.stel-about-text-el {
  font-family: code-pro;
  color: #555555;
  font-size: 15px;
  font-weight: bold;
}
.stel-lang {
  color: #aaaaff;
  transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
}
.stel-mailto {
  text-align: center;
}
.stel-lang:hover {
  color: #5555ff;
  transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
}
.stel-lang-selected {
  color: #5555ff;
}
.stel-about-lang-div {
  margin-top: 15px;
  text-align: center;
}
.stel-about-title {
  text-align: center;
  color: #55ff55;
  font-weight: bold;
}
.stel-main-p-div {
  padding-top: 30px;
  text-align: center;
}
.stel-main-p {
  color: #aaaaff;
  font-family: code-pro;
  font-weight: bold;
  font-size: 18px;
  transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
}
.stel-main-p:hover {
  color: #5555ff;
  transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  cursor: pointer;
}
a:link {
  text-decoration: none;
  color: #ff5555;
  transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  cursor: pointer;
}
a:visited {
  text-decoration: none;
  color: #ff5555;
}
a:active {
  text-decoration: none;
  color: #ff5555;
}
a:hover {
  text-decoration: none;
  color: #ff8359;
  transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  cursor: pointer;
}
.view-animate {
  padding: 10px;
}
.view-animate.ng-enter,
.view-animate.ng-leave {
  transition: all cubic-bezier(0.25, 0.46, 0.45, 0.94) 1.5s;
  display: block;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 10px;
}
.view-animate.ng-enter {
  left: 100%;
}
.view-animate.ng-enter.ng-enter-active {
  left: 0;
}
.view-animate.ng-leave.ng-leave-active {
  left: -100%;
}
