<div class="row">
    <div class="col-md-4">
        <img src="img/FullSizeRender.jpg" class="stel-img">
    </div>
    <div class="col-md-4">
        <a href="#home">
            <p class="stel-about-title">| .back</p>
        </a>
        <span class="stel-about-text">
            Hello,<br>
            my name is Ro Stelmach and i live curently in Kastoria - Greece.
            I'm an undergraduate student from Western Macedonia University of Applied Sciences (<a href="http://kastoria.teiwm.gr/">TEI WM</a>),
            department of computer science , majored in Software Engineering.
            I'm a Developer by the day. But, by the night i'm an Open Source Evangelist.
            I'am currently working as full-stack Developer at (<a href="">Smmark</a>), making Web and Mobile applications
            with (<a href="http://rubyonrails.org/">Rails</a>)/(<a href="https://angularjs.org/">AngularJS</a>)/(<a href="https://facebook.github.io/react/">ReactJS</a>)/(<a href="http://ionicframework.com/">Ionic</a>) ..
            i use (<a href="https://en.wikipedia.org/wiki/Ruby_(programming_language)">Ruby</a>) / (<a href="https://en.wikipedia.org/wiki/JavaScript">Javascript</a>) for work, and (<a href="https://en.wikipedia.org/wiki/C_(programming_language)">C</a>) / (<a href="https://en.wikipedia.org/wiki/C%2B%2B">C++</a>) for almost everything else!
            I am passionate with Algorithis and Data Structures .. and of course with my princess !
        </span>
    </div>
    <div class="col-md-4">

    </div>
</div>
<div class="row stel-mail-div">
    <div class="col-md-2">
    </div>
    <div class="col-md-2">

    </div>
    <div class="col-md-2">
    </div>
    <div class="col-md-2 stel-mailto">
    </div>
    <div class="col-md-2" >
        <div class="row">
        <a href="#about-el">
            <span class="stel-lang">.el</span>
        </a>
        <span> | </span>
        <span class="stel-lang-selected">.en</span>
    </div>
    <div class="row stel-mailto">
        <a href="mailto:ro@dotstel.net">ro@dotstel.net</a>
    </div>
    </div>
    <div class="col-md-2">
    </div>
</div>
