<div class="row">
    <div class="col-md-4">
        <img src="img/FullSizeRender.jpg" class="stel-img">
    </div>
    <div class="col-md-4">
        <a href="#home">
            <p class="stel-about-title">| .back</p>
        </a>
        <span class="stel-about-text">
            Γέια,<br>
            Το όνομα μου ειναι Ro Stelmach Ορέστης και αυτή την στιγμή διαμένω στην Καστοριά – Ελλάδα.
            Είμαι προπτυχιακός φοιτητής στο Τεχνολογικό Εκπαιδευτικό Ίδρυμα Δυτικής Μακεδονίας (<a href="http://kastoria.teiwm.gr/">TEI WM</a>),
            στο παράρτημα Καστοριάς ( <a href="">ΜΗΧΑΝΙΚΩΝ ΠΛΗΡΟΦΟΡΙΚΗΣ </a>), ειδικεύομαι στην Μηχανική λογισμικού.
            Την ήμερα είμαι προγραμματιστής , άλλα την νύχτα “προσπαθώ” όσο μπορώ να συνεισφέρω στην Κοινότητα Ανοιχτού λογισμικού ( γενικός όρος) .
            Αυτό τον καιρό δουλεύω ως προγραμματιστής στην (<a href="">Smmar</a>), κυρίως σε Web και Mobile εφαρμογές με (<a href="http://rubyonrails.org/">Rails</a>)/(<a href="https://angularjs.org/">AngularJS</a>)/(<a href="https://facebook.github.io/react/">ReactJS</a>)/(<a href="http://ionicframework.com/">Ionic</a>) ..
            Χρησιμοποιώ (<a href="https://el.wikipedia.org/wiki/Ruby">Ruby</a>) / (<a href="https://el.wikipedia.org/wiki/JavaScript">Javascript</a>) για την δουλειά μου, και (<a href="https://el.wikipedia.org/wiki/C_(%CE%B3%CE%BB%CF%8E%CF%83%CF%83%CE%B1_%CF%80%CF%81%CE%BF%CE%B3%CF%81%CE%B1%CE%BC%CE%BC%CE%B1%CF%84%CE%B9%CF%83%CE%BC%CE%BF%CF%8D)">C</a>) / (<a href="https://el.wikipedia.org/wiki/C%2B%2B">C++</a>) σχεδόν για οτιδήποτε άλλο !
            Έχω πάθος με τους Αλγορίθμους και τις Δομές Δεδομένον … και φυσικά με την πριγκίπισσα μου Αναστασία!
        </span>
    </div>
    <div class="col-md-4">

    </div>
</div>
<div class="row">
    <div class="col-md-2">
    </div>
    <div class="col-md-2">
    </div>
    <div class="col-md-2">
    </div>
    <div class="col-md-2">
    </div>
    <div class="col-md-2">
        <div class="row">
        <span class="stel-lang-selected">.el</span>
        <span> | </span>
        <a href="#about-en">
            <span class="stel-lang">.en</span>
        </a>
    </div>
    <div class="row stel-mailto">
        <a href="mailto:ro@dotstel.net">ro@dotstel.net</a>
    </div>
    </div>
    <div class="col-md-2">
    </div>
</div>
