<div class="row stel-main-p-div">
    <div class="col-md-4">
    </div>
    <div class="col-md-1">
        <a href="#about-en">
            <span class="stel-main-p">.about </span>
        </a>
    </div>
    <div class="col-md-1">
        <a href="https://github.com/stelro">
            <span class="stel-main-p">.github </span>
        </a>
    </div>
    <div class="col-md-1">
        <a href="https://gr.linkedin.com/in/stelro">
            <span class="stel-main-p">.linkedin </span>
        </a>
    </div>
    <div class="col-md-1">
        <span class="stel-main-p">.blog </span>
    </div>
    <div class="col-md-4">
    </div>
</div>
